
LECTOR OBJ/flores_franciscojacob.zip
flores_franciscojacob.zip
flores_franciscojacob1.zip
LECTOR OBJ/modelsOBJ/OrangeCartoon_basketball_ball_OBJ.mtl
LECTOR OBJ/modelsOBJ/OrangeCartoon_basketball_ball_OBJ.zip
LECTOR OBJ/modelsOBJ/OrangeMolten_Baskball_Ball_OBJ.rar
LECTOR OBJ/modelsOBJ/OrangeNotVeryDetailed_Basket_Ball.rar
LECTOR OBJ/modelsOBJ/White_Basketball.OBJ
LECTOR OBJ/modelsOBJ/Yellow_BASKET_Ball.obj.obj

ARCHIVOS y ENTREGABLES/INSTRUCCIONES ENTREGA LECTOR DE ARCHIVOS OBJ - Para Dom, 4 de oct 2020.docx
ARCHIVOS y ENTREGABLES/INSTRUCCIONES ENTREGA LECTOR DE ARCHIVOS OBJ - Para Dom, 4 de oct 2020.pdf

models/*
models OBJ/*
old_OBJ_models/*
